* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#filter {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    width: 18%;
}

input[type=text] {
    border: none;
    font-size: 17px;
    width: 500px;
    padding-block: 10px;
    border-radius: 20px;
    background-color: rgb(250, 248, 248);
    padding-left: 30px;
}

#subreddit-form-container, #post-form-container {
    overflow-y: auto;
    padding: 15px;
    width: 60%;
    margin-inline: auto;
}

#subreddit-form > input[type="text"],
#post-form > input[type="text"] {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 5px;
    margin: 10px auto;
}

#subreddit-form > #description,
#post-form > #description {
    width: 100%;
    height: 200px;
    margin: 10px auto;
}

#post-form > select {
    font-size: 14px;
    background-color: white;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 5px auto;
}

#community {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 0px;
    height: 100%;
    width: 18%;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky; /* Add this line to fix the navbar */
    top: 0px;
    left: 0px;
    width: 100%; /* Make the navbar span the full width of the viewport */
    background-color: white; /* Optional: Add a background color */
    z-index: 1000;
}

.color {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 10px;
    color: orangered;
    font-size: 30px;
}

.bar1 {
    display: flex;
    align-items: center;
}

.text {
    color: orangered;
    font-size: 25px;
    font-weight: bolder
}

.fa-magnifying-glass {
    position: relative;
    left: 25px;
}

.body {
    background-color: #f8f9fa;
    display: flex;
}

input[type=submit] {
    margin-right: 30px;
    padding: 8px 16px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 10px;
}

.image {
    font-size: 30px;
    background-color: white;
    color: gray;
}

.image1 {
    font-size: 20px;
}

.aside-button button {
    width: 100%;
    padding: 10px 20px;
    background-color: orangered;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.community-item span {
    font-size: 20px;
    color: black;
}

.profile-div {
    text-align: right;
}

.profile {
    text-align: center;
    margin: 5px auto;
}

.profile-div > form {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}