* {
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
}

#filter {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    width: 18%;
}

#posts {
    overflow-y: auto;
    padding: 15px;
    width: 60%;
    margin-inline: auto;
}

#community {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 0px;
    height: 100%;
    width: 18%;
}

.post {
    display: grid;
    grid-template-columns: 10% 90%;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-content {
    font-size: 16px;
}

.vote {
    display: flex;
    flex-direction: column;
}

.post-bucket {
    padding-top: 20px;
    max-height: 250px;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky; /* Add this line to fix the navbar */
    top: 0px;
    left: 0px;
    width: 100%; /* Make the navbar span the full width of the viewport */
    background-color: white; /* Optional: Add a background color */
    z-index: 1000;
}

.color {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 10px;
    color: orangered;
    font-size: 30px;
}

.bar1 {
    display: flex;
    align-items: center;
}

.text {
    color: orangered;
    font-size: 25px;
    font-weight: bolder
}

input[type=text] {
    border: none;
    font-size: 17px;
    width: 500px;
    padding-block: 10px;
    border-radius: 20px;
    background-color: rgb(250, 248, 248);
    padding-left: 30px;
}

.fa-magnifying-glass {
    position: relative;
    left: 25px;
}

input[type=submit] {
    margin-right: 30px;
    padding: 8px 16px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 10px;
}

.create {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    font-size: 30px;
    background-color: white;
    color: gray;
}

.image1 {
    font-size: 20px;
}

.createPost {
    width: 830px;
    height: 45px;
    background-color: gray;
    padding-left: 20px;
}

.aside-button button {
    width: 100%;
    padding: 10px 20px;
    background-color: orangered;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.community-item span {
    font-size: 20px;
    color: black;
}

.profile-div {
    text-align: right;
}

.profile {
    text-align: center;
    margin: 5px auto;
}

.profile-div > form {
    padding-left: 20px;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
}