* {
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
}

aside {
    overflow-y: scroll !important;
    scrollbar-width: none;
}

button:hover {
    cursor: pointer;
}

#filter {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    width: 18%;
}

#posts {
    overflow-y: auto;
    padding: 15px;
    width: 60%;
    margin-inline: auto;
}

#community {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 0px;
    height: 100%;
    width: 18%;
}

 /** .post {
    display: grid;
    grid-template-columns: 10% 90%;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} **/
.post{
    display:flex;
    padding:10px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.vote{
    padding:20px;
}
.vote>*{
     font-size:20px;
}
.post-container {
    display: flex;
    flex-direction:column;
    gap:10px;
    width:100%
}
.author{
      border-bottom:1px solid black;
      width:100%
}
.content{
    font-size:18px;
    width:90%;
    margin:auto
}

.post-content-container {
    border-bottom:1px solid black;
    width:100%

}
.img-container{
   width:500px;
   height:400px;
   margin:auto;
   padding-bottom:20px;

}
img{
     width:100%;
     height:100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky; /* Add this line to fix the navbar */
    top: 0px;
    left: 0px;
    width: 100%; /* Make the navbar span the full width of the viewport */
    background-color: white; /* Optional: Add a background color */
    z-index: 1000;
}

.color {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 10px;
    color: orangered;
    font-size: 30px;
}

.bar1 {
    display: flex;
    align-items: center;
}

.text {
    color: orangered;
    font-size: 25px;
    font-weight: bolder
}

input[type=text] {
    border: none;
    font-size: 17px;
    width: 500px;
    padding-block: 10px;
    border-radius: 20px;
    background-color: rgb(250, 248, 248);
    padding-left: 30px;
}

.fa-magnifying-glass {
    position: relative;
    left: 25px;
}

input[type=submit] {
    margin-right: 30px;
    padding: 8px 16px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 10px;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    font-size: 30px;
    background-color: white;
    color: gray;
}

.image1 {
    font-size: 20px;
}

#popular-link, #home-link {
    display: block;
    width: 100%;
    padding: 10px 15px;
}

.sort button {
    color: darkslategray;
    font-size: 15px;
    font-weight: bold;
    background-color: inherit;
    border: none;
    border-radius: 40%;
    padding: 10px 15px;
}

.active {
    background-color: lightgray !important;
}

.sort button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.createPost {
    width: 450px;
    height: 45px;
    background-color: gray;
    padding-left: 20px;
    margin-inline:100px;
}

.aside-button button, .create-post-button {
    width: 100%;
    padding: 10px 20px;
    background-color: orangered;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.community-item span {
    font-size: 20px;
    color: black;
}

.profile-div {
    text-align: right;
}

.profile {
    text-align: center;
    margin: 5px auto;
}

.profile-div > form {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.post-container .author h3{
    display: inline;
}

.comment-space{
    display:inline;
    margin-right:40px;
}
.comment-space{
display:inline;
margin-right:40px;
}

.reddit-span:hover {
    color: #ff4500;
    cursor: pointer;

  }
  .static{
  margin-top:10px;
  height:auto;
  width:100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

  }
  .bgcolor{
   height:70px;
    width:100%;
  }
  .font{
  height:70px;
      width:30%;
  }
   .policy{
   display:flex;
    height:200px;
    width:100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .one{
     display:flex;
     justify-content:center;
     align-items:center;
     flex-direction:column;
    }
    ul{
     list-style: none;
     }


table, tr {
    width: 100%;
    border: 1px solid;
}

table {
    margin: 40px auto;
}

td {
    width: 100%;
    padding: 2px 5px;
}

td > button {
    border: none;
    background-color
}

caption {
    width: 100%;
    background-color: orangered;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 2px solid black;
}

table .control-buttons-container {
    text-align: center;
}

.ban-button, unmod-button {
    border: 1px solid black;
    background-color: red;
    color: white;
}

.unban-button, mod-button {
    border: 1px solid black;
    background-color: green;
    color: white;
}

