.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky; /* Add this line to fix the navbar */
    top: 0px;
    left: 0px;
    width:100%;
    width: 100%; /* Make the navbar span the full width of the viewport */
    background-color: white; /* Optional: Add a background color */
    z-index: 1000;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.color{
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 10px;
    color: orangered;
    font-size: 30px;
}
.profile-div{
display:flex;
justify-content:center;
margin-left:20px;
}
.bar1{
    display: flex;
    justify-content:center;

}
.text{
    color: orangered;
    font-size: 25px;
    font-weight: bolder

}
input[type=text]{
    border: none;
    font-size: 17px;
    width: 500px;
    padding-block: 10px;
    border-radius: 20px;
    background-color: rgb(250, 248, 248);
    padding-left: 30px;
}
.fa-magnifying-glass{
    position: relative;
    left: 25px;
}
input[type=submit]{
    margin-right: 30px;
    padding: 8px 16px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 10px;
}

.post-title {
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
  }

  .post-title:hover {
    opacity: 0.6;
  }

  .subreddit-text {
    font-weight: bold;
  }


  .username{
      color: gray;
  }

  .post-text{
      margin-top: 10px;
  }

  .post{

      margin: 10px 10px 10px auto;
      overflow: hidden;
      background-color: rgba(255,255,255,0.8);
      color: black;
      position: relative;
      border-radius: 4px;
      padding:10px;
  }

  .comment{
      border: 1px solid black;
      margin-bottom: 10px;
      overflow: hidden;
      background-color: rgba(255,255,255,0.8);
      color: black;
      position: relative;
      border-radius: 4px;
      padding:5px;
  }

  .votebox {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1em;
}

.votesection{
    margin:0px;
    background-color: #ffffff;
}
.upvote,.downvote {
    cursor: pointer;
    border-radius: 2px solid;
}
.upvote:hover {
    color: green;
}
.downvote:hover {
    color: red;
}

.votecount{
    font-weight: bold;
}

.sidebar{
   width: 340px;
      height: 100%;
      --post-line-color: #ccc;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      margin-bottom: 10px;
      overflow: hidden;
      background-color: rgba(255,255,255,0.8);
      position: relative;
      border-radius: 4px;
      padding:10px;
      margin-top: 10px;
      margin-bottom: 10px;
}

.btnCreatePost, .btnCreateSubreddit{
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    width: 288px;
    height: 34px;
}

.btnCreateSubreddit{
    margin-top: 5px;
    color: #0079D3;
    background-color: transparent;
}

.sidebar>ul>li{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #1c1c1c;
}

.sidebar-view-subreddit {
    width: 312px;
    height: 242px;
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sidebar-view-subreddit {
    height: 280px;
  }

  .comment-user{
    /* font-family: Noto Sans,Arial,sans-serif; */
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: black;
    margin-right: 4px;
  }

  .create-post-button {
      width: 100%;
      padding: 10px 20px;
      background-color: orangered;
      border: none;
      color: white;
      border-radius: 20px;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  .main-box{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .button {
            display: inline-block;
            padding: 3px 3px;
            background-color: black;
            color: white;
            font-size:15px;
            font-weight:bold;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top : 5px;
        }

  /* Add your styles here */
  body {
      font-family: Arial, sans-serif;
      margin: 20px;
  }

  h1 {
      color: #333;
  }


   /***
  form {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 5px;
  }

  label {
      display: block;
      margin-bottom: 5px;
  }

  input, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
  }

  button {
      background-color: #4caf50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
***/
