<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Reddit Clone</title>
    <link rel="stylesheet" th:href="@{/css/homePage.css}" />
</head>
<body>

<div class="navBar">
    <div class="bar1">
        <i class="fa-brands fa-reddit color"></i>
        <p class="text">reddit</p>
    </div>
    <div class="bar2">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search Reddit">
    </div>

    <form th:action="@{/login}">
        <input type="submit" value="Login">
    </form>

</div>




<div class="body">
    <aside id="filter">
        <h2>Filter Section</h2>
        <div><h2>Popular</h2></div>
        <div>Popular</div>
    </aside>

    <main id="posts">

        <div>
            <div class="post create">
                <i class="fa-brands fa-reddit image"></i>
                <a th:href="@{/r/SpringBoot/createPost}">
                    <input class="createPost"  type="text" placeholder="Create Post">
                    <i class="fa-solid fa-image image1"></i>
                    <i class="fa-solid fa-link image1"></i>
                </a>
            </div>
        </div>

        <div th:each="post : ${allPosts}">
            <div class="post">
                <div class = "vote">
                    <i class="fa-solid fa-up-long"></i>
                    <span>0</span>
                    <i class="fa-solid fa-down-long"></i>
                </div>
                <div class = "post-container">
                    <div>
                        VY <hr>
                    </div>
                    <div class = "post-bucket">
                        <div class="post-title" th:text="${post.getTitle()}"></div>
                        <div class="post-content">
                            <p th:text="${post.getDescription()}"></p>
                        </div>
                    </div>
                    <div>
                        <hr>
                        <i class="fa-regular fa-message"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <aside id="community">
        <h2>Community Section</h2>
        <div class="aside-button">
            <a th:href="@{/createNewSubReddit}"> <button>Create Community</button></a>
        </div>

        <div class="community-container">
            <div class="community-item" th:each="subReddit : ${subRedditList}">
                <a th:href="@{'/r/' + ${subReddit.getName()} }">
                    <span th:text="${subReddit.getName()}"></span>
                </a>
            </div>
        </div>
    </aside>
</div>
</body>
</html>