<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reddit.com: log in</title>

    <link rel="stylesheet" href="loginstyle.css" />
</head>
<body>

    <header>
        <a href="https://www.reddit.com/" id="header-img" class="default-header" title=""></a>
    </header>
    <section class="contact-form">
        <div class="form-container">
            <h2>Login</h2>
            <form action="" method="post">

                <label for="name">Username</label>
                <input type="text" id="name" placeholder="username" name="usernname" required>

                <label for="password">Password</label>
                <input id="password"  name="password" placeholder="password" required>
                
                <input type="submit" class="submit-button" value="LOG IN">
                <div id="not-register">Not registered yet? <a href="/signup.html">Register</a></span>
                </form>
        </div>
    </section>

   
</body>
</html>