<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reddit.com: sign up</title>

    <link rel="stylesheet" href="loginstyle.css" />
</head>
<body>

    <header>
        <a href="/" id="header-img" class="default-header" title="">reddit.com</a>
    </header>
    <section class="contact-form">
        <div class="form-container">
            <h2>Create a new account</h2>
            <form action="" method="post">

                <label for="name">Username</label>
                <input type="text" id="name" placeholder="username" name="usernname" required>

                <label for="email">Email</label>
                <input type="text" id="email" placeholder="email" name="email" required>

                <label for="password">Password</label>
                <input id="password"  name="password" placeholder="password" required>
                
                <input type="submit" class="submit-button" value="SIGN UP">
                
                </form>
        </div>
    </section>

   
</body>
</html>