<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${subReddit.getName()}"></title>
    <link rel="stylesheet" th:href="@{/css/homePage.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/homePage.css}" />

</head>
<body>

<div class="navBar">
    <div class="bar1">
        <i class="fa-brands fa-reddit color"></i>
        <p class="text">reddit</p>
    </div>
    <div class="bar2">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search Reddit">
    </div>

    <form >
        <input type="submit" value="Login">
    </form>

</div>



<div class="body">
    <aside id="filter">
        <h2>Filter Section</h2>
        <div><h2>Popular</h2></div>
        <div>Popular  scnkbvkjabkvbshjbsc sncbjsabvjhsbc nscbbckjab,</div>
    </aside>

    <main id="posts">

        <div>
            <div class="post create">
                <i class="fa-brands fa-reddit image"></i>
                <a href="andkj.html">
                    <input class="createPost"  type="text" placeholder="Create Post">
                </a>
                <i class="fa-solid fa-image image1"></i>
                <i class="fa-solid fa-link image1"></i>
            </div>
        </div>
        <div class="post">
            <div class="post-title">Sample Post Title</div>
            <div class="post-content">
                LLLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed cursus nisl nec posuere fermentum.
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis veritatis dolorum tempora necessitatibus iste doloremque earum consequuntur quibusdam? Dicta a delectus voluptatem voluptatum quasi quisquam quam aliquam maiores, minima voluptate.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis veritatis dolorum tempora necessitatibus iste doloremque earum consequuntur quibusdam? Dicta a delectus
                    voluptatem voluptatum quasi quisquam quam aliquam maiores, minima voluptate.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis veritatis dolorum tempora necessitatibus iste doloremque earum consequuntur quibusdam? Dicta a delectus
                    voluptatem voluptatum quasi quisquam quam aliquam maiores, minima voluptate.
                </p>
            </div>
        </div>
        <div class="post">
            <div class="post-title">Sample Post Title</div>
            <div class="post-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed cursus nisl nec posuere fermentum.
                <img width="100%" src="https://images.unsplash.com/photo-1701215097228-188d262c1f6b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></img>
            </div>
        </div>
        <div class="post">
            <div class="post-title">Sample Post Title</div>
            <div class="post-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed cursus nisl nec posuere fermentum.
            </div>
        </div>
        <div class="post">
            <div class="post-title">Sample Post Title</div>
            <div class="post-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed cursus nisl nec posuere fermentum.
            </div>
        </div>
        <div class="post">
            <div class="post-title">Sample Post Title</div>
            <div class="post-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed cursus nisl nec posuere fermentum.
            </div>
        </div>
        <div class="post">
            <div class="post-title">Sample Post Title</div>
            <div class="post-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed cursus nisl nec posuere fermentum.
            </div>
    </main>
    <aside id="community">
        <h2>Community Section</h2>
        <h3>Name</h3>
        <span th:text="${subReddit.getName()}"></span>
        <h3>Description</h3>
        <span th:text="${subReddit.getDescription()}"></span>
        <div class="aside-button">
<!--            <a th:href="@{}> <button> Join </button></a>-->
            <a th:href="@{ '/r/' + ${subReddit.getName()} + '/createPost' }"> <button>Create Post</button></a>
        </div>
    </aside>
</div>

</body>
</html>