<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>view post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/viewPost.css}" />
</head>
<body>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script th:inline="javascript">

</script>

<div class="navBar">
    <div class="bar1">
        <a th:href="@{/}"><i class="fa-brands fa-reddit color"></i></a>
        <a style="text-decoration:none;" th:href="@{/}"><p class="text">reddit</p></a>
    </div>
    <div class="bar2">
        <form th:action="@{/search/posts}">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" name="query" placeholder="Search Reddit">
            <input type="submit" value="Search">
        </form>
    </div>
    <form sec:authorize="${!isAuthenticated()}" th:action="@{/login}">
        <input type="submit" value="Login">
    </form>
    <div sec:authorize="isAuthenticated()" class="profile-div">
        <p class="profile">
            <a style="text-decoration:none; color:black;" th:href="@{'/user/'+${#authentication.principal.username}+'/posts'}"> <i class="fa-brands fa-square-reddit"></i>&nbsp;
                u/<strong style="font-size:15px;" sec:authentication="principal.username" /></a>
        </p>
        <form th:action="@{/logout}" method="POST">
            <input style="margin-left:10px;" type="submit" value="Logout">
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <hr />
        <div class="col-md-9">
            <div class="row post main-box">
                <div class="col-md-1">
                    <div class="col-md-1">
                        <div class="d-flex flex-column votebox">
                            <div class = "vote">
                                <form  th:action="@{/processPostVote}" method="post">
                                    <input type="hidden" name="postId" th:value="${postId}">
                                    <input type="hidden" name="vote" value="1">
                                    <input type="hidden" name="endPoint" th:value="'/' + ${subredditName} + '/posts/' + ${postId} + '/comments'">
                                    <!-- Styled button with Font Awesome icon -->
                                    <button type="submit" class="icon-button"><i class="fa-solid fa-up-long"></i></button>
                                </form>

                                <span th:text="${post.getVoteCount()}">  </span>

                                <form  th:action="@{/processPostVote}" method="post">
                                    <input type="hidden" name="postId" th:value="${postId}">
                                    <input type="hidden" name="vote" value="-1">
                                    <input type="hidden" name="endPoint" th:value="'/' + ${subredditName} + '/posts/' + ${postId} + '/comments'">
                                    <!-- Styled button with Font Awesome icon -->
                                    <button type="submit" class="icon-button"><i class="fa-solid fa-down-long"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-11">
                    <span>
                        <span class="subreddit-text"><a class="post-url" th:href="@{/community/{subredditName}(subredditName=${subReddit.getName})}" th:text="${subReddit.getName}"></a></span>
                        <span  th:text="${#temporals.format(post.createdAt, 'dd/MMM/yyy HH:mm')}"></span>
<!--                            by <span class="username" sec:authentication="principal.username"></span>-->
                              by<span class="username" th:text="${post.getUser().getUsername()}"></span>
                    </span>
                    <hr />
                    <div class = "post-container">
                        <div class="post-title" th:text="${post.title}"></div>
                        <div>
                            <p class="post-text" th:text="${post.description}"></p>
                        </div>
                        <div class="img-container" th:if="${post.image != null}" >
                            <img th:src="@{'/image/'+${post.image}}" alt="reddit" >
                        </div>
                        <div class="comment-count">
                            <i class="fa-regular fa-message"></i>
                            <span th:text="${commentCount}"></span><span> comments</span>
                        </div>
                    </div>
<!--                    <span class="comment-user">Commented as <span sec:authentication="principal.username"></span></span>-->
                    <div class="post-comment">
                        <form method="POST" th:object="${newComment}" th:action="@{'/'+${subredditName}+'/posts/'+ ${postId} +'/saveComment'}">
                            <div>
                                <textarea name="text" th:field="*{text}" placeholder="Your Thoughts?" cols="80"></textarea>
                            </div>
                            <button type="submit" class="login float-right button">Comment</button>
                        </form>
                    </div>

                    <div style="margin-top: 60px;" th:each="comments: ${commentList}">
                        <div class="comment">
                        <span class="username">
                            <span th:if="${comments != null and comments.getUser() != null}"
                               th:text="${comments.getUser().getUsername()}" ></span>
                            Commented On <span th:text="${#temporals.format(comments.createdAt, 'dd/MMM/yyy HH:mm')}"></span>
                        </span>



                            <form th:if="${commentId != null and commentId eq comments.id}"
                                    th:action="@{/comment/{postId}/{commentId}(postId=${post.id},commentId=${comments.id})}" method="Post">
                                <textarea name="updateContent"
                                           rows="10"
                                          th:text="${comments.text}"
                                          style="width: 50%; margin-left: 5%;" required></textarea>
                                <br>
                                <input  type="submit" value="Edit">
                            </form>

                            <div th:unless="${commentId != null and commentId eq comments.id}" >
                            <p th:text="${comments.text}"></p>
<!--                            <a th:if="${#authentication.principal.username eq comments.getUser().getUsername()}"-->
<!--                               th:href="@{/comment/{postId}/{commentId}/edit(postId=${post.id},commentId=${comments.id})}" class="button">Edit</a>-->
<!--                            <a th:if="${#authentication.principal.username eq comments.getUser().getUsername()}"-->
<!--                               th:href="@{/comment/{postId}/{commentId}/delete(postId=${post.id},commentId=${comments.id})}" class="button">Delete</a>-->


                                <span th:if="${#authorization.expression('isAuthenticated()')}">
      <span th:if = "${#authentication.principal.username == post.getUser().getUsername() }">
      <a th:href="@{/comment/{postId}/{commentId}/edit(postId=${post.id},commentId=${comments.id})}"   class="button" >Edit</a>
      <a th:href="@{/comment/{postId}/{commentId}/delete(postId=${post.id},commentId=${comments.id})}"  class="button" >Delete</a>
      </span>
      </span>


                            </div>
                        </div>
                        <div th:if="${comments.id eq commentId}">
                            <form method="POST" th:object="${editedComment}" th:action="@{'/'+${subredditName}+'/posts/'+ ${postId} +'/updateComment/'+${commentId}}">
                                <textarea name="text" th:field="*{text}" cols="80"></textarea>
                                <button type="submit">Save Changes</button>
                            </form>
                        </div>
                        <span th:unless="${comments.id eq commentId}">
                            <form method="GET" th:action="@{'/'+${subredditName}+'/posts/'+ ${postId}+'/editComment/'+${comments.id}}">
                                <button type="submit" class="login float-right">Edit</button>
                            </form>
                            <form method="POST" th:action="@{'/'+${subredditName}+'/posts/'+ ${postId}+'/deleteComment/'+${comments.id}}">
                                <button type="submit" class="login float-right">Delete</button>
                            </form>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sidebar">
                <!--                <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">-->
                <h2 style="padding:5px;" th:text="${subReddit.getName()}"></h2>
                <div style="padding:5px;"  class="username">Created On
                    <span th:text="${#temporals.format(subReddit.createdAt, 'dd/MMM/yyy HH:mm')}"></span>
                </div>
                <h3 style="padding:5px;">Description:</h3>
                <div style="padding:5px; margin-bottom:20px;" th:text="${subReddit.getDescription()}"></div>

                <div>
                    <form th:action="@{'/community/' + ${subReddit.getName()} + '/createPost'}">
                        <input type="hidden" name="subRedditName" th:value="${subReddit.getName()}">
                        <button type="submit" class="create-post-button">Create Post</button>
                    </form>
                </div>
                <div style="text-align: center">
                    <a th:href="@{/community/createCommunity}">
                        <button class="create-post-button" th:href="@{/community/createCommunity}">Create Cummunity</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>